<nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
    <nb-card-header>Lista de Categorias</nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table 
        [settings]="settings"
        [source]="source"
        (edit)="onEdit($event)"
        (create)="onCreate($event)"
        (delete)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
</nb-card>