<nb-card>
    <nb-card-header>Agregar Producto</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (submit)="onSubmit(0)">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tienda</label>
                <div class="col-sm-7">
                    <select class="form-control" formControlName="store">
                        <option *ngFor="let item of store_list" [value]="item.id">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button *ngIf="!showStore" (click)="toggleStoreform()" type="button" class="btn btn-primary">Agregar</button>
                    <button *ngIf="showStore" (click)="toggleStoreform()" type="button" class="btn btn-primary">Cerrar</button>
                </div>
                <div *ngIf="showStore" class="offset-sm-3 col-sm-7 mt-2 mb-3">
                    <form class="row" [formGroup]="storeForm" (submit)="saveStore()">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Nueva tienda" formControlName="name">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Categoria</label>
                <div class="col-sm-7">
                    <select class="form-control" formControlName="category">
                        <option *ngFor="let item of category_list" [value]="item.id">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button *ngIf="!showCategory" (click)="toggleCategory()" type="button" class="btn btn-primary">Agregar</button>
                    <button *ngIf="showCategory" (click)="toggleCategory()" type="button" class="btn btn-primary">Cerrar</button>
                </div>
                <div *ngIf="showCategory" class="offset-sm-3 col-sm-7 mt-2 mb-3">
                    <form class="row" [formGroup]="categoryForm" (submit)="saveCategory()">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Nueva tienda" formControlName="name">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Marca</label>
                <div class="col-sm-7">
                    <select class="form-control" formControlName="brand">
                        <option *ngFor="let item of brand_list" [value]="item.id">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button *ngIf="!showBrand" (click)="toggleBrand()" type="button" class="btn btn-primary">Agregar</button>
                    <button *ngIf="showBrand" (click)="toggleBrand()" type="button" class="btn btn-primary">Cerrar</button>
                </div>
                <div *ngIf="showBrand" class="offset-sm-3 col-sm-7 mt-2 mb-3">
                    <form class="row" [formGroup]="brandForm" (submit)="saveBrand()">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Nueva tienda" formControlName="name">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="nombre del producto" formControlName="name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Código</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="código del producto" formControlName="code">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Lote</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="Lote del producto" formControlName="lot" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Descripción</label>
                <div class="col-sm-7">
                    <textarea cols="6" class="form-control" placeholder="Descripción del producto" formControlName="description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cantidad</label>
                <div class="col-sm-7">
                    <input (keydown)="onlynumbers($event)" type="text" class="form-control" placeholder="cantidad comprada" formControlName="quantity">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Precio Total</label>
                <div class="col-sm-7">
                    <input (keydown)="onlynumbers($event)" type="text" class="form-control" placeholder="precio total de lo comprado" formControlName="price">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Precio Unitario</label>
                <div class="col-sm-7">
                    <input (keydown)="onlynumbers($event)" type="text" class="form-control" placeholder="precio unitario para venta" formControlName="unit_price">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" class="btn btn-primary mr-2">Guardar y cerrar</button>
                    <button type="button" (click)="onSubmit(1)" class="btn btn-info">Guardar y nuevo</button>
                </div>
            </div>
      </form>
    </nb-card-body>
</nb-card>