<nb-card>
    <nb-card-header>Salida de Almacen</nb-card-header>
    <nb-card-body>
        <div class="row mb-4">
            <div class="col-sm-6 text-center">
                <h5 class="text-center">Agregue productos y luego presione el boton guardar.</h5>
            </div>
            <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-primary" (click)="addProduct()">Agregar producto</button>
            </div>
        </div>
        <div class="form-group row" *ngFor="let product of products_list">
            <label class="col-sm-2 col-form-label">Nuevo producto</label>
            <div class="col-sm-5">

                <div class="ng-autocomplete">
                    <ng-autocomplete
                        [(ngModel)]="product.product"
                        [data]="products"
                        [searchKeyword]="keyword"
                        (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)'
                        (inputFocused)='onFocused($event)'
                        [itemTemplate]="itemTemplate"
                        placeHolder="Busca por nombre del producto"
                        notFoundText="No hubo resultados"
                        [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>
                    
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name + ' | ' + item.brand.name + ' | cantidad: ' + item.quantity_actual"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>

            </div>
            <label class="col-sm-2 text-right col-form-label">Cantidad Maxima: {{product.product?.quantity_actual}}</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Cantidad: 0" [(ngModel)]="product.quantity">
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary" (click)="removeProduct(product)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" (click)="save()">Guardar</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>