<nb-card>
    <nb-card-header>Agregar Marca</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (submit)="onSubmit()">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Usuario</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="username" formControlName="username">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="password" formControlName="password">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Rol</label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="role">
                        <option value="ADMIN">Administrador</option>
                        <option value="USER">Usuario normal</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
      </form>
    </nb-card-body>
</nb-card>