<nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
    <nb-card-header>
      <div class="row">
        <div class="col-sm-6">Lista de Productos</div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-primary" (click)="export()">Exportar</button>
        </div>
      </div>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table 
        [settings]="settings"
        [source]="source"
        (edit)="onEdit($event)"
        (create)="onCreate($event)"
        (delete)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
</nb-card>