// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();
};

.autocomplete-container .suggestions-container.is-visible {
  z-index: 999;
}

.nb-theme-cosmic .autocomplete-container .input-container input {
  padding: 0.75rem 1.125rem;
  color: #ffffff;
  background-color: #37317a;
  border: 2px solid #342e73;
  font-family: Roboto;
  border-radius: 0.5rem;
}

.nb-theme-cosmic .autocomplete-container .input-container input::placeholder {
  color: #a1a1e5;
}

.ng-autocomplete {
  width: 100%;
}

.logo-containter {
  width: auto !important;
}

.product_form {
  min-height: 200px;
}