<nb-card>
    <nb-card-header>Compra de productos</nb-card-header>
    <nb-card-body>
        <div class="row mb-4 {{ !showForm ? 'product_form' : '' }}">
            <div class="col-sm-2">
                <h5>Buscar producto.</h5>
            </div>
            <div class="col-sm-8">
                <div class="ng-autocomplete">
                    <ng-autocomplete
                        [(ngModel)]="product"
                        [data]="products"
                        [searchKeyword]="keyword"
                        (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)'
                        (inputFocused)='onFocused($event)'
                        [itemTemplate]="itemTemplate"
                        placeHolder="Busca por nombre del producto"
                        notFoundText="No hubo resultados"
                        [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>
                    
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name + ' | ' + item.brand.name + ' | cantidad: ' + item.quantity_actual"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="showForm">
            <div class="col-sm-10">
                <form [formGroup]="form" (submit)="save()">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tienda</label>
                        <div class="col-sm-7">
                            <select class="form-control" formControlName="store">
                                <option *ngFor="let item of store_list" [value]="item.id">{{ item.name }}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button *ngIf="!showStore" (click)="toggleStoreform()" type="button" class="btn btn-primary">Agregar</button>
                            <button *ngIf="showStore" (click)="toggleStoreform()" type="button" class="btn btn-primary">Cerrar</button>
                        </div>
                        <div *ngIf="showStore" class="offset-sm-3 col-sm-7 mt-2 mb-3">
                            <form class="row" [formGroup]="storeForm" (submit)="saveStore()">
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Nueva tienda" formControlName="name">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nombre</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" placeholder="nombre del producto" formControlName="name" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Código</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" placeholder="código del producto" formControlName="code" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Lote</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" placeholder="Lote del producto" formControlName="lot" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Cantidad</label>
                        <div class="col-sm-7">
                            <input (keydown)="onlynumbers($event)" type="text" class="form-control" placeholder="cantidad comprada" formControlName="quantity">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Precio Total</label>
                        <div class="col-sm-7">
                            <input (keydown)="onlynumbers($event)" type="text" class="form-control" placeholder="precio total de lo comprado" formControlName="price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Precio Unitario</label>
                        <div class="col-sm-7">
                            <input (keydown)="onlynumbers($event)" type="text" class="form-control" placeholder="precio unitario para venta" formControlName="unit_price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </nb-card-body>
</nb-card>