<nb-card>
    <nb-card-header>Editar Categoria</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (submit)="onSubmit()">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="nombre" formControlName="name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Estado</label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="status">
                        <option value="activo">Activo</option>
                        <option value="inactivo">Inactivo</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
      </form>
    </nb-card-body>
</nb-card>